<!DOCTYPE html>

<html>

<head>
    <title>Error 404</title>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    {{>header}}
    <p>{{errorMsg}}</p>
    <p>Maybe you'll find what you're looking for here :P</p>
</body>



<div>
    <a href="{{extension}}">{{redirect}}</a>
</div>



</html>