<!DOCTYPE html>

<html>


<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>This website allows you to check the weather anywhere in the world so you don't have to go outside and find out yourself.</p>
        <p>It uses data from mapbox.com and darksky.net. </p>
        <img class="Q" src="/img/blunt.jpeg">
        <p>This high-tier quality content is hand delivered to you by Q, the most jacked guy there is at Mission Labs.</p>
    </div>

    {{>footer}}
</body>



</html>